<div class="container">
  <h4 class="center red"><%= @error %></h4>
  <fieldset>
    <legend>Shorten Your Url</legend>
    <form action="/urls" method="post">
    <table>
      <tr>
        <td><input type="text" name="url"></td>
        <td><input type="submit" value="Shorten"></td>
      </tr>
    </table>
    </form>
  </fieldset>
</div>
