<div class="container">
  <form name="input" action="/urls" method="post">
Please enter the url: <input type="text" name="full_url"><br>
<div class = "hidden">
<input type="text" name="short_url" value="<%= rand(100000)%>">
</div>
<input type="submit" value="Shorten my url!">
<!-- Last name: <input type="text" name="lastname"> -->
</form>
</div>
