<div class="container">
  <h1>Short.ly</h1>
  <p>Shorten your URL</p>
  <form name="input" action="/" method="post">
    <input type="text" name="long_url" value="Ex. http://www.google.com/">
    <input type="submit" value="submit">
  </form>
</div>