<div class="container">
  <h1>Matthanuels Amazing URL shortener!™</h1>
  <p>Please enter your URL to be shortned, then step back</p>

 <form action="/urls" method="post">
  <textarea name="long_url" placeholder="Place URL here!"></textarea>
    <input type="submit" value="Transmogrify">
 </form>



</div>
