<div class="container">
  <h1>Shorten your URLs</h1>
  <form name="shorten" action="/urls" method="post">
    <input type="text" name="address">
    <input type="submit" value="Shorten">
  </form>

  <p><%= %></p>

</div>
