<div class="container">
  <h1>Short.ly</h1>
    <form name="input" action="/urls" method="post">
    <input type="text" name="long_url">
    <input type="submit" value="submit">
  </form>
</div>

<div class="url_history">
  <% @shortened_urls.each do |url| %>
  <%= "localhost:9393/" + url.url_extension %><br>
  <% end %>
</div>