body {
  background-color: #d9534f;
}

.container {
  margin: 100px auto;
  padding: 0px 20px 20px 20px;
  text-align: center;
  width: 50%;
}

h1 {
  color: white;
  font-family: Artifika, sans-serif;
  font-size: 2.5em;
  text-shadow: 3px 3px #411817;
}

.submit-button {
  background-color: #ecaaa8;
  border-radius: 10px;
  color: white;
  font-family: 'Duru Sans', sans-serif;
  margin-left: 10px;
}

#surly-form {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 100%;
}